html, body{
    height: 100%;
}
body{
    background-color: aquamarine;
}
img {
    max-width: 100%;
}
.wrapper{
    min-width: 360px;
    max-width: 992 px;
    margin: 0% auto;
    border: 1px solid red;
    background-image:  url(../анкета\ smm.png);
}
.bgMain{
    background-color: #8edde4;
}
.wrapper header{
    background-color: #fff3cb;
}
.wrapper main{

}
.wrapper footer{

}
